/* Color Theme Swatches in RGBA */
.Fluttershy-2-rgba { color: rgba(242, 194, 212, 1); }
.Napolitano-4-rgba { color: rgba(231, 153, 177, 1); }
.Fluttershy-1-rgba { color: rgba(217, 150, 174, 1); }
.Napolitano-2-rgba { color: rgba(236, 150, 175, 1); }
.Fluttershy-4-rgba { color: rgba(86, 166, 143, 1); }
.Fluttershy-soft-brown-3-rgba { color: rgba(237, 217, 190, 1); }
.Fluttershy-3-rgba { color: rgba(227, 193, 155, 1); }
.Fluttershy-soft-brown-5-rgba { color: rgba(64, 44, 42, 1); }


/* Color Theme Swatches in RGBA */
.terracota-1-rgba { color: rgba(73, 44, 30, 1); }
.terracota-2-rgba { color: rgba(62, 39, 31, 1); }
.terracota-3-rgba { color: rgba(51, 28, 22, 1); }
.terracota-4-rgba { color: rgba(30, 15, 10, 1); }
.terracota-5-rgba { color: rgba(19, 8, 6, 1); }


.Pastel-pink-soft-sky-background-with-blurred-clouds-1-rgba { color: rgba(242, 162, 200, 1); }
.Pastel-pink-soft-sky-background-with-blurred-clouds-2-rgba { color: rgba(89, 66, 77, 1); }
.Pastel-pink-soft-sky-background-with-blurred-clouds-3-rgba { color: rgba(242, 182, 210, 1); }
.Pastel-pink-soft-sky-background-with-blurred-clouds-4-rgba { color: rgba(166, 128, 145, 1); }
.Pastel-pink-soft-sky-background-with-blurred-clouds-5-rgba { color: rgba(242, 206, 223, 1); }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/backgroung.jpg");
    background-repeat: repeat;
    background-size: 100%;
}


header {
    height: 400px;
    background: linear-gradient(to top, rgb(79, 129, 114), rgba(86, 166, 143, 1));
}

header h1 {
    text-align: center;
    color: rgba(231, 153, 177, 1);
    font-family: "Ballet", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 9rem;
}

header h2 {
    text-align: center;
    color: rgba(231, 153, 177, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

header img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    display: flex;
}

nav {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    line-height: 600px 0 0 0;
}

nav a {
    background-color: rgba(62, 39, 31, 0.9);
    color: rgb(126, 175, 161);
    text-decoration: none;
    padding: 15px 20px;
    margin: 15px 20px;
    text-align: center;
    border-radius: 4px;
}

nav a:hover {
    background-color: rgba(227, 193, 155, 1);
    color: rgba(236, 150, 175, 1);
    flex-wrap: wrap;
    padding: 15px 20px;
    margin: 15px 20px;
    transition: background-color 0.3s;
    border-radius: 4px;
}

main {
    background-color: rgba(237, 217, 190, 1);
    width: 80%;
    margin: 20px auto;
    border: 4px dashed rgba(224, 194, 156, 1);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h3 {
    color: rgba(236, 150, 175, 1);
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    padding: 15px;
}

p {
    color: rgba(30, 15, 10, 1);
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
    padding: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(64, 44, 42, 1);
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: rgba(231, 153, 177, 1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input::placeholder, textarea::placeholder{
    color: rgba(166, 128, 145, 1);
    background-color: rgba(237, 217, 190, 1);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    align-content: center;
}

.contatos {
    width: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(73, 44, 30, 1);
    box-sizing: content-box;
}

.contatos p, h3 {
    color: rgba(166, 128, 145, 1);
}


.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(73, 44, 30, 1);
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 4px;
    line-height: 1.5;
}

.form-container input, select, textarea{
    font-size: 1.5rem;
    color: rgba(166, 128, 145, 1);
    background-color: rgba(237, 217, 190, 1);
    padding: 3px;
    border-radius: 5px;
    border: 0;
    width: 100%;
}

.form-container button{
    font-size: 1.5rem;
    color: rgba(166, 128, 145, 1);
    background-color: rgba(237, 217, 190, 1);
    padding: 3px;
    border-radius: 5px;
    border: 0;
}

.imagem {
    height: 240px;
    float: left;
    text-align: center;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px){

    .responde {
        max-width: 320px;
    }
    .conteudo-principal {
        flex-direction: column;
    }

    .area-conteudo {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        border-bottom: 1px dashed rgba(224, 194, 156, 1);
    }
}