/* Color Theme Swatches in RGBA */
.Fluttershy-2-rgba { color: rgba(242, 194, 212, 1); }
.Napolitano-4-rgba { color: rgba(231, 153, 177, 1); }
.Fluttershy-1-rgba { color: rgba(217, 150, 174, 1); }
.Napolitano-2-rgba { color: rgba(236, 150, 175, 1); }
.Fluttershy-4-rgba { color: rgba(86, 166, 143, 1); }
.Fluttershy-soft-brown-3-rgba { color: rgba(237, 217, 190, 1); }
.Fluttershy-5-rgba { color: rgba(242, 228, 201, 1); }
.Napolitano-1-rgba { color: rgba(237, 218, 188, 1); }
.Napolitano-3-rgba { color: rgba(224, 194, 156, 1); }
.Fluttershy-3-rgba { color: rgba(227, 193, 155, 1); }
.Fluttershy-soft-brown-5-rgba { color: rgba(64, 44, 42, 1); }
.Napolitano-5-rgba { color: rgba(64, 46, 42, 1); }